# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
*.db

# Node
node_modules/

# Build output
public/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
